/add_image.pdf
/simple_demo.pdf
/.venv
/static/variants/answers/*.txt
/templates/variants/pdf/*.pdf
/templates/variants/answers/*.txt
/questions/*
/utils/__pycache__
static/.DS_Store
session.key
code-oss.core
templates/variants/pdfs/*.pdf
static/variants/pdfs/*.pdf
static/variants/.DS_Store
templates/variants/.DS_Store
user_answers/*_*
