{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="static/img/fedor.jpg">
        </div>
        <div class="col-6">
            <img src="static/img/geny.jpg">
        </div>
    </div>
</div>


<h1>Горленко Фёдор Сергеевич</h1>
<div>
    Гений, миллиардер, филантроп 21 века.
    Главный разраюотчик img2pdf и protonID.
    Генеральный директор компании gimonchik©.
</div>
<a href="https://github.com/fedorchikthebest">Мой гитхаб</a>
<a href="xmpp:gimonchik@gimonchik.ru"> Мой джаббер </a>
<a href="https://t.me/enternet_king"> Мой Телеграм канал </a>
{% endblock %}
