{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4 text-center my-4">Вариант № {{ variant }}</h1>
    
    <div class="row justify-content-center g-3">
        <div class="col-12 col-md-6">
            <a href="/static/variants/pdfs/{{ variant }}.pdf" class="d-block">
                <button type="button" class="btn btn-outline-success w-100">Скачать вариант</button>
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="/static/variants/answers/{{ variant }}.txt" class="d-block">
                <button type="button" class="btn btn-outline-secondary w-100">Скачать ответы</button>
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="/test/{{ e_var }}" class="d-block">
                <button type="button" class="btn btn-outline-secondary w-100">Электронный тест</button>
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="list-group">
                {% for i in user_answers %}
                <a href="/get_user_results/{{ i[1] }}" class="list-group-item list-group-item-action">{{ i[0] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
