{% extends "base.html" %}
{% block content %}
        <h1 class="my-3">Генератор вариантов</h1>
        <div class="h-100 d-flex align-items-center justify-content-center my-2">
            <a href="/var"><button type="button" class="btn btn-outline-success">Создать вариант</button></a>
        </div>
        <div class="h-100 d-flex align-items-center justify-content-center my-4">

        <form action="" method="post">
            <p>
            <label for="var">Введите номер варианта</label>
            <input type="text" name="var">
                <button type="button" class="btn btn-outline-secondary"><input type="submit" value="Открыть" style="border: 0;background: 0;"></button>
            </p>
     </form>
        </div>
{% endblock %}