{% extends "base.html" %}
{% block content %}

<div class="question">
    <form method="post">
		<a>Ваше ФИО</a>
		<input type="text" class="ans_pole" name="name"/>
		<a>Ваш класс</a>
		<input type="text" name="class">
		{% for i in questions %}
        <img src="/api/get_question/{{ i }}">
        <input type="text" class="ans_pole" name="{{ i }}"/>
		{% endfor %}
		<input class="check" type="submit" placeholder="Отправить">
    </form>
</div>
<script src="../static/js/test.js"></script>
{% endblock %}
